@import "tailwindcss";

@theme {
  --font-sans: apple-system, "San Francisco", "Helvetica Neue", Roboto, "Segoe WP", "Segoe UI", sans-serif;
  --font-mono: var(--font-geist-mono);
  --bumble-yellow: #ffc629;
  --bumble-font: apple-system, "San Francisco", "Helvetica Neue", Roboto, "Segoe WP", "Segoe UI", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717; 
  --bumble-yellow: #ffc629;
  --bumble-yellow-light: #fdf8e3;
  --bumble-yellow-med: #fdedbd;
  --bumble-background-text: #69665e;
  --bumble-font: apple-system, "San Francisco", "Helvetica Neue", Roboto, "Segoe WP", "Segoe UI", sans-serif;

}

.pop{
	animation: pop 0.3s linear 1;
  }

@keyframes pop{
	50%  {transform: scale(1.2);}
  }
  

[popover] {
	animation: fadeIn 1s ease-out;
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

 .dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 0.5px;
	background: var( --bumble-background-text);
	animation: wave 1s linear infinite;
	animation-delay: -0.9s;
  }

  
 .dot.two {
	animation-delay: -0.7s;
  }
   .dot:nth-child(3) {
	animation-delay: -0.6s;
  }
  
  @keyframes wave {
	0%,
	  60%,
	  100% {
	  transform: initial;
	}
	30% {
	  transform: translateY(-15px);
	}
  }
