@import "tailwindcss";

@theme {
  --font-sans: apple-system, "San Francisco", "Helvetica Neue", Roboto, "Segoe WP", "Segoe UI", sans-serif;
  --font-mono: var(--font-geist-mono);
  --bumble-yellow: #ffc629;
  --bumble-font: apple-system, "San Francisco", "Helvetica Neue", Roboto, "Segoe WP", "Segoe UI", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717; 
  --bumble-yellow: #ffc629;
  --bumble-yellow-light: #fdf8e3;
  --bumble-yellow-med: #fdedbd;
  --bumble-background-text: #69665e;
  --bumble-font: apple-system, "San Francisco", "Helvetica Neue", Roboto, "Segoe WP", "Segoe UI", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
